{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}
    <div class="bg-light">
        <div class="text-center">
            <div class="font-weigh-bold lead pt-2">
            <h2>HI! I'M AHAD EMU</h2>
            </div>
            <div class="font-italic pb-2">
            <h5>FULL STACK WEB DEVELOPER FROM DHAKA, BANGLADESH</h5>
            </div>
        </div>
        </div>
        <div class="text-center">
        <img class="img img-fluid img-thumbnail" src="{% static 'images/profile.jpg' %}" alt="profile picture" height="300px" width="280px">
        </div>
        <div class="bg-light pt-4 pb-3">
        <div class="text-center">
            <h2>About Me</h2>
            <div class="container mt-3 mb-3">
            <p class="text-left">
                My expertise lies in Full Stack Web Development. I'm motivated, hardworking & confident. I want to learn & gain experience from professionals to build my career.
                <br/>Confident in DJango stacks, also experience in React based web application development.
                <br/>Proficient in Python, JavaScript, HTML,CSS, Bootstrap, SQL, C, and C++.
            </p>
            </div>
        </div>
        <div style="width:100%" align="left" class="m-3">
            <table class="">
            <tr>
                <td>Name : </td>
                <td>Abul Ahad Emu</td>
            </tr>
            <tr>
                <td>Email : </td>
                <td>ahademu99@gmail.com</td>
            </tr>
            <tr>
                <td>Mobile No : </td>
                <td>+8801930892563</td>
            </tr>
            </table>
        </div>
        </div>
{% endblock content %}
