{% extends 'base.html' %}
{% block title %}User-Profile{% endblock %}

{% block content %}
    <div class="text-center m-1">
        <img src="{{profile.user.profile.image.url}}" class="rounded img-thumbnail" alt="profile image" height="300px" width="300px">
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Profile Details</h1>
            <table class="table">
                <tr>
                    <td class="border-right">Username</td>
                    <td class="card-title">{{profile.user.username}}</td>
                </tr>
                <tr>
                    <td class="border-right">First name</td>
                    <td class="card-title">{{profile.user.first_name}}</td>
                </tr>
                <tr>
                    <td class="border-right">Last name</td>
                    <td class="card-title">{{profile.user.last_name}}</td>
                </tr>
                <tr>
                    <td class="border-right">email</td>
                    <td class="card-title">{{profile.user.email}}</td>
                </tr>
                <tr>
                    <td class="border-right">address</td>
                    <td class="card-title">{{profile.user.profile.address}}</td>
                </tr>
                <tr>
                    <td class="border-right">Mobile no</td>
                    <td class="card-title">{{profile.user.profile.mobile_no}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
